@Scripts.Render("~/bundles/angular")
<body ng-app="mainApp">

    @RenderSection("customsJs", required: false)
    @{
    }

/* view */

@model IEnumerable<Model.X>

@{
    ViewBag.Title = "Index";
    System.Web.Script.Serialization.JavaScriptSerializer javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    javaScriptSerializer.MaxJsonLength = int.MaxValue;
    string XSerialized = javaScriptSerializer.Serialize(Model);
}

<div ng-controller="XController">

<div class="col-md-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="pull-right">
                    <a href="cadastro-basico.html" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Novo</a>
                    <button type="button" ng-click="ExportaDados()" class="btn btn-default btn-sm" id="exportar"><i class="fa fa-download"> Exportar</i></button>
                </div>

                <h2 class="panel-title h4">Search</h2>
            </header>

            <div class="row wrapper">
                <div class="col-sm-3">
                    <div class="input-group">
                        <input id="txtFiltroPesquisa" type="text" class="form-control input-sm" placeholder="Buscar" ng-model="filtradados">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="button" ng-click="filtradados = undefined"><i class="fa fa-eraser"></i> Limpar</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-9 m-b-xs text-right">
                    Contrato:
                    <select ng-model="cboContrato" ng-options="item.id for item in contratos" class="form-control input-sm input-s-md inline v-middle">
                        <option value="">Selecione...</option>
                    </select>

                    Cargo:
                    <select ng-model="cboCargo" ng-options="c.id for c in cargos" class="form-control input-sm input-s-md inline v-middle">
                        <option value="">Selecione...</option>
                    </select>

                    Status:
                    <select ng-model="cboStatus" ng-options="s.id for s in statusX" class="form-control input-sm input-x-lg inline v-middle">
                        <option value="">Todos</option>
                    </select>
                    <button class="btn btn-sm btn-default" type="reset">Limpar</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th width="200">Nome</th>
                            <th width="25">
                            	<a href="#" ng-click="sortType = 'Matricula'; sortReverse = !sortReverse">
                                    Matrícula
                                    <span ng-show="sortType == 'Matricula' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'Matricula' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="50">Contrato</th>
                            <th width="20">Lotação</th>
                            <th width="50">Cargo</th>
                            <th width="25">Status</th>
                            <th width="110">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="l in filterResult = (X | 
                                                    filter:filtradados | 
                                                    filter:cboContrato.id:true | 
                                                    filter:cboStatus.id:true | 
                                                    filter:cboCargo.id:true) | 
                                                    orderBy:sortType:sortReverse | itemsPerPage:pageSize ">
                            <td>{{l.NomX}}</td>
                            <td>{{l.MatX}}</td>
                            <td>{{l.ConX}}</td>
                            <td>{{l.LotX}}</td>
                            <td>{{l.CarX}}</td>
                            <td>{{l.StatusX}}</td>
                            <td class="text-center">
                                <a href="#" class="btn btn-default btn-sm" data-toggle="tooltip" title="Visualizar"><i class="fa fa-file-text-o"></i></a>
                                <a ng-click="editdata(l)" href="#cadastroModal" class="btn btn-default btn-sm" data-toggle="modal" title="Editar"><i class="fa fa-pencil"></i></a>
                                <a href="#" ng-if="l.Status == 'INATIVO'" class="btn btn-default btn-sm" data-toggle="tooltip"><i class="fa fa-check text-success" title="Ativar"></i></a>
                                <a href="#" ng-if="l.Status == 'ATIVO'" class="btn btn-default btn-sm" data-toggle="tooltip"><i class="fa fa-times text-danger" title="Inativar"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <footer class="panel-footer no-radius">
                    <div class="row">
                        <div class="col-sm-4">
                            <small class="text-muted inline m-t-sm m-b-sm">Resultado: {{filterResult.length}} registros</small>
                        </div>
                        <div class="col-sm-8 text-right">
                            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                        </div>
                    </div>
                </footer>
            </div>

            <div class="panel-example">
                <pre><code class="html"></code></pre>
            </div>
        </section>
    </div>


</div>
@section customsJs {

    <script src="~/Scripts/jslinq.min.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>

    @*@Scripts.Render("~/App/controllers/Controller.js")*@

    <script type="text/javascript">

        var jsonX = @Html.Raw(XSerialized);
        app.controller('XController', ['$scope', '$http', function ($scope, $http) {
            
            $scope.sortType = 'Nome'
            $scope.sortReverse = false;
            $scope.pageSize = 7;

            $scope.empregados = jsonempregados;
            $scope.filterResult = jsonX;
            
            $scope.X = jsonX;

            $scope.contratos = $linq(jsonX)
                .groupBy("x => x.Contrato", null)
                .orderBy("x => x.key")
                .select("x => { id: x.key }")
                .toArray();

            $scope.statusX = $linq(jsonX)
                .groupBy("x => x.StatusX", null)
                .select("x => { id: x.key }")
                .toArray();

            $scope.cargos = $linq(jsonX)
                .groupBy("x => x.Cargo", null)
                .orderBy("x => x.key")
                .select("x => { id: x.key }")                
                .toArray();
                
            $scope.ExportaDados = function () {

                var date = new Date();
                var options = {
                    weekday: "short",
                    year: "numeric",
                    month: "2-digit",
                    day: "numeric",
                    hour:"2-digit",
                    minute: "2-digit",
                    second: "2-digit"
                };
                var texto = "SYSTEM - X - TITLE\n\User:Teste\n\Relatório gerado automaticamente pelo sistema em: " + date.toLocaleDateString("pt-br", options);
                ExportCSV($scope.filterResult,texto, true, "csv", "Report");
            };
        }]);
    </script>
}
	
/* end view */

public class BundleConfig
    {
        // For more information on bundling, visit http://go.microsoft.com/fwlink/?LinkId=301862
        public static void RegisterBundles(BundleCollection bundles)
        {
            bundles.Add(new ScriptBundle("~/bundles/jquery").Include(
                        "~/Scripts/jquery-{version}.js"));

            bundles.Add(new ScriptBundle("~/bundles/jqueryval").Include(
                        "~/Scripts/jquery.validate*"));

            // Use the development version of Modernizr to develop with and learn from. Then, when you're
            // ready for production, use the build tool at http://modernizr.com to pick only the tests you need.
            bundles.Add(new ScriptBundle("~/bundles/modernizr").Include(
                        "~/Scripts/modernizr-*"));

            bundles.Add(new ScriptBundle("~/bundles/angular").Include(
                    "~/Scripts/angular.js",
                    "~/Scripts/angular-route.js", "~/App/app.js"));

            bundles.Add(new StyleBundle("~/Content/css").Include(
                      "~/Content/vendor.css",
                      "~/Content/main.css"));
        }
    }
	



function ExportCSV(JSONData, ReportTitle, ShowLabel, reportType, reportName) {
    
    var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;

    angular.forEach(arrData, function (data, index) {
        if (data.date != undefined)
            data.date = dateFormat(data.date)
    });

    var CSV = '';        
    CSV += ReportTitle + '\r\n\n';
    
    if (ShowLabel) {

        var row = "";        
        for (var index in arrData[0]) {
            row += index + ';';
        }

        row = row.slice(0, -1);        
        CSV += row + '\r\n';
    }
    
    for (var i = 0; i < arrData.length; i++) {

        var row = "";        
        for (var index in arrData[i]) {
            row += '"' + arrData[i][index] + '";';
        }

        row = row.split('.').join(",");
        row.slice(0, row.length - 1);        
        CSV += row + '\r\n';
    }

    if (CSV == '') {
        alert("Invalid data");
        return;
    }
    
    var fileName = "";    
    fileName += reportName.replace(/ /g, "_");
    
    var uri = 'data:text/csv; charset=utf-8,' + escape(CSV);

    var link = document.createElement("a");
    link.href = uri;
    
    link.style = "visibility:hidden";
    link.download = fileName + ".csv";
    
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
};

}]);	



@{
    ViewBag.Title = "Index";
}

<div ng-app="appTest">
    
    <div ng-controller="CustomController">
        <input type="text" ng-model="nome" />

        <h2>Nome: {{nome}}</h2>
        <select ng-model="aluno" id="cboAlunos" name="cboAlunos"
                ng-options="lista.NomeAluno for lista in listaAlunos" ng-change="GetCursosNotIn()">
            <option value="">Selecione...</option>
        </select>

        <br />
        <br />
        <br />

        @*ng-src="{{listaCursos}}"*@

        <select ng-model="cursos" id="cboCursos" name="cboCursos"
                ng-change="GetCursosAluno()" ng-options="curso.NomeCurso for curso in listaCursos">
            <option value="">Selecione...</option>
        </select>

        <button id="btnAdd" ng-click="addCourse()" ng-disabled="!listaCursos">Add Course</button>

        <br />
        <br />
        <br />

        <table st-table="rowTableCollection" st-safe-src="tableDataAlunos" class="table table-striped">
            <thead>
                <tr>
                    <th>curso</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rowTableCollection">
                    <td>{{row.NomeCurso}}</td>
                    <td>
                        <button type="button" ng-click="RemoveItem(row)" class="btn btn-sm btn-danger">
                            excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        @*<ul>
            <li ng-repeat="country in ListaFlags">
                <img id="preview" src="http://beta.teacherhorizons.com/static/prototypes/design/registration/static/images/flags/{{country.name.toLowerCase()}}.png" />
                <span>{{country.name}}</span>
            </li>
        </ul>

        {{ListaFlags}}*@

    </div>
</div>

@section scripts {
    @Scripts.Render("~/App/CustomController.js")
    
}

appTest.controller('CustomController', ['$scope','$http', function ($scope, $http) {

    $scope.nome = "TESTE";

    $scope.tableDataAlunos = [];

    $http.get('/api/AlunoApi').success(function (data, status, headers, config) {
        $scope.listaAlunos = data;
        $scope.aluno = $scope.listaAlunos;
    }).error(function (data, status, headers, config) {
        alert('Erro no load alunos combo');
    });

    $scope.GetCursosAluno = function () {

        $http({
            method: 'POST',
            url: '/Custom/GetCursosAluno/',
            data: { alunoId: $scope.aluno.AlunoId }
        }).success(function (data, status, headers, config) {

            $scope.tableDataAlunos = data;
            $scope.rowTableCollection = $scope.tableDataAlunos;

        }).error(function (data, status, headers, config) { alert('Erro na lista de cursos') });        

        //console.log($scope.listaCursos);
    };

    $scope.GetCursosNotIn = function () {
        if ($scope.aluno != null) {
            var alunoId = $scope.aluno.AlunoId;

            $http({
                method: 'POST',
                url: '/Custom/GetCursosNotIn/',
                data: { alunoId: $scope.aluno.AlunoId }
            }).success(function (data, status, headers, config) {

                $scope.listaCursos = data;
                $scope.cursos = $scope.listaCursos;

                $scope.GetCursosAluno();

            }).error(function (data, status, headers, config) { alert('ERRO busca cursos aluno') });
        }
        else {
            $scope.listaCursos = null;
            $scope.tableDataAlunos = [];
        }
    };

    $scope.RemoveItem = function RemoveItem(row) {
        var index = $scope.rowTableCollection.indexOf(row)

        //alert(row.CursoId);

        if (index !== -1) { $scope.rowTableCollection.splice(index, 1) }
    };

    $scope.ListaFlags = [
          { id: 21, name: "United States" },
          { id: 22, name: "United Kingdom" },
          { id: 23, name: "Afghanistan" },
          { id: 24, name: "Albania" },
          { id: 25, name: "Algeria" },
          { id: 26, name: "American Samoa" },
          { id: 27, name: "Andorra" },
          { id: 28, name: "Angola" },
          { id: 29, name: "Anguilla" },
          { id: 30, name: "Antarctica" },
          { id: 31, name: "Antigua and Barbuda" },
          { id: 32, name: "Argentina" },
          { id: 33, name: "Armenia" },
          { id: 34, name: "Aruba" },
          { id: 35, name: "Australia" },
          { id: 36, name: "Austria" },
          { id: 37, name: "Azerbaijan" },
          { id: 38, name: "Bahamas" },
          { id: 39, name: "Bahrain" },
          { id: 40, name: "Bangladesh" },
          { id: 41, name: "Barbados" },
          { id: 42, name: "Belarus" },
          { id: 43, name: "Belgium" },
          { id: 44, name: "Belize" },
          { id: 45, name: "Benin" },
          { id: 46, name: "Bermuda" },
          { id: 47, name: "Bhutan" },
          { id: 48, name: "Bolivia" },
          { id: 49, name: "Bosnia and Herzegovina" },
          { id: 50, name: "Botswana" },
          { id: 51, name: "Bouvet Island" },
          { id: 52, name: "Brazil" },
          { id: 53, name: "British Indian Ocean Territory" },
          { id: 54, name: "Brunei Darussalam" },
          { id: 55, name: "Bulgaria" },
          { id: 56, name: "Burkina Faso" },
          { id: 57, name: "Burundi" },
          { id: 58, name: "Cambodia" },
          { id: 59, name: "Cameroon" },
          { id: 60, name: "Canada" },
          { id: 61, name: "Cape Verde" },
          { id: 62, name: "Cayman Islands" },
          { id: 63, name: "Central African Republic" },
          { id: 64, name: "Chad" },
          { id: 65, name: "Chile" },
          { id: 66, name: "China" },
          { id: 67, name: "Christmas Island" },
          { id: 68, name: "Cocos (Keeling) Islands" },
          { id: 69, name: "Colombia" },
          { id: 70, name: "Comoros" },
          { id: 71, name: "Congo" },
          { id: 72, name: "Congo, The Democratic Republic of The" },
          { id: 73, name: "Cook Islands" },
          { id: 74, name: "Costa Rica" },
          { id: 75, name: "Cote Divoire" },
          { id: 76, name: "Croatia" },
          { id: 77, name: "Cuba" },
          { id: 78, name: "Cyprus" },
          { id: 79, name: "Czech Republic" },
          { id: 80, name: "Denmark" },
          { id: 81, name: "Djibouti" },
          { id: 82, name: "Dominica" },
          { id: 83, name: "Dominican Republic" },
          { id: 84, name: "Ecuador" },
          { id: 85, name: "Egypt" },
          { id: 86, name: "El Salvador" },
          { id: 87, name: "Equatorial Guinea" },
          { id: 88, name: "Eritrea" },
          { id: 89, name: "Estonia" },
          { id: 90, name: "Ethiopia" },
          { id: 91, name: "Falkland Islands (Malvinas)" },
          { id: 92, name: "Faroe Islands" },
          { id: 93, name: "Fiji" },
          { id: 94, name: "Finland" },
          { id: 95, name: "France" },
          { id: 96, name: "French Guiana" },
          { id: 97, name: "French Polynesia" },
          { id: 98, name: "French Southern Territories" },
          { id: 99, name: "Gabon" },
          { id: 100, name: "Gambia" },
          { id: 101, name: "Georgia" },
          { id: 102, name: "Germany" },
          { id: 103, name: "Ghana" },
          { id: 104, name: "Gibraltar" },
          { id: 105, name: "Greece" },
          { id: 106, name: "Greenland" },
          { id: 107, name: "Grenada" },
          { id: 108, name: "Guadeloupe" },
          { id: 109, name: "Guam" },
          { id: 110, name: "Guatemala" },
          { id: 111, name: "Guinea" },
          { id: 112, name: "Guinea-bissau" },
          { id: 113, name: "Guyana" },
          { id: 114, name: "Haiti" },
          { id: 115, name: "Heard Island and Mcdonald Islands" },
          { id: 116, name: "Holy See (Vatican City State)" },
          { id: 117, name: "Honduras" },
          { id: 118, name: "Hong Kong" },
          { id: 119, name: "Hungary" },
          { id: 120, name: "Iceland" },
          { id: 121, name: "India" },
          { id: 122, name: "Indonesia" },
          { id: 123, name: "Iran, Islamic Republic of" },
          { id: 124, name: "Iraq" },
          { id: 125, name: "Ireland" },
          { id: 126, name: "Israel" },
          { id: 127, name: "Italy" },
          { id: 128, name: "Jamaica" },
          { id: 129, name: "Japan" },
          { id: 130, name: "Jordan" },
          { id: 131, name: "Kazakhstan" },
          { id: 132, name: "Kenya" },
          { id: 133, name: "Kiribati" },
          { id: 134, name: "Korea, Democratic People Republic of" },
          { id: 135, name: "Korea, Republic of" },
          { id: 136, name: "Kuwait" },
          { id: 137, name: "Kyrgyzstan" },
          { id: 138, name: "Lao People Democratic Republic" },
          { id: 139, name: "Latvia" },
          { id: 140, name: "Lebanon" },
          { id: 141, name: "Lesotho" },
          { id: 142, name: "Liberia" },
          { id: 143, name: "Libya" },
          { id: 144, name: "Liechtenstein" },
          { id: 145, name: "Lithuania" },
          { id: 146, name: "Luxembourg" },
          { id: 147, name: "Macao" },
          { id: 148, name: "Macedonia, The Former Yugoslav Republic of" },
          { id: 149, name: "Madagascar" },
          { id: 150, name: "Malawi" },
          { id: 151, name: "Malaysia" },
          { id: 152, name: "Maldives" },
          { id: 153, name: "Mali" },
          { id: 154, name: "Malta" },
          { id: 155, name: "Marshall Islands" },
          { id: 156, name: "Martinique" },
          { id: 157, name: "Mauritania" },
          { id: 158, name: "Mauritius" },
          { id: 159, name: "Mayotte" },
          { id: 160, name: "Mexico" },
          { id: 161, name: "Micronesia, Federated States of" },
          { id: 162, name: "Moldova, Republic of" },
          { id: 163, name: "Monaco" },
          { id: 164, name: "Mongolia" },
          { id: 165, name: "Montenegro" },
          { id: 166, name: "Montserrat" },
          { id: 167, name: "Morocco" },
          { id: 168, name: "Mozambique" },
          { id: 169, name: "Myanmar" },
          { id: 170, name: "Namibia" },
          { id: 171, name: "Nauru" },
          { id: 172, name: "Nepal" },
          { id: 173, name: "Netherlands" },
          { id: 174, name: "New Caledonia" },
          { id: 175, name: "New Zealand" },
          { id: 176, name: "Nicaragua" },
          { id: 177, name: "Niger" },
          { id: 178, name: "Nigeria" },
          { id: 179, name: "Niue" },
          { id: 180, name: "Norfolk Island" },
          { id: 181, name: "Northern Mariana Islands" },
          { id: 182, name: "Norway" },
          { id: 183, name: "Oman" },
          { id: 184, name: "Pakistan" },
          { id: 185, name: "Palau" },
          { id: 186, name: "Palestinian Territory, Occupied" },
          { id: 187, name: "Panama" },
          { id: 188, name: "Papua New Guinea" },
          { id: 189, name: "Paraguay" },
          { id: 190, name: "Peru" },
          { id: 191, name: "Philippines" },
          { id: 192, name: "Pitcairn" },
          { id: 193, name: "Poland" },
          { id: 194, name: "Portugal" },
          { id: 195, name: "Puerto Rico" },
          { id: 196, name: "Qatar" },
          { id: 197, name: "Reunion" },
          { id: 198, name: "Romania" },
          { id: 199, name: "Russian Federation" },
          { id: 200, name: "Rwanda" },
          { id: 201, name: "Saint Helena" },
          { id: 202, name: "Saint Kitts and Nevis" },
          { id: 203, name: "Saint Lucia" },
          { id: 204, name: "Saint Pierre and Miquelon" },
          { id: 205, name: "Saint Vincent and The Grenadines" },
          { id: 206, name: "Samoa" },
          { id: 207, name: "San Marino" },
          { id: 208, name: "Sao Tome and Principe" },
          { id: 209, name: "Saudi Arabia" },
          { id: 210, name: "Senegal" },
          { id: 211, name: "Serbia" },
          { id: 212, name: "Seychelles" },
          { id: 213, name: "Sierra Leone" },
          { id: 214, name: "Singapore" },
          { id: 215, name: "Slovakia" },
          { id: 216, name: "Slovenia" },
          { id: 217, name: "Solomon Islands" },
          { id: 218, name: "Somalia" },
          { id: 219, name: "South Africa" },
          { id: 220, name: "South Georgia and The South Sandwich Islands" },
          { id: 221, name: "Spain" },
          { id: 222, name: "Sri Lanka" },
          { id: 223, name: "Sudan" },
          { id: 224, name: "Suriname" },
          { id: 225, name: "Svalbard and Jan Mayen" },
          { id: 226, name: "Swaziland" },
          { id: 227, name: "Sweden" },
          { id: 228, name: "Switzerland" },
          { id: 229, name: "Syrian Arab Republic" },
          { id: 230, name: "Taiwan, Province of China" },
          { id: 231, name: "Tajikistan" },
          { id: 232, name: "Tanzania, United Republic of" },
          { id: 233, name: "Thailand" },
          { id: 234, name: "Timor-leste" },
          { id: 235, name: "Togo" },
          { id: 236, name: "Tokelau" },
          { id: 237, name: "Tonga" },
          { id: 238, name: "Trinidad and Tobago" },
          { id: 239, name: "Tunisia" },
          { id: 240, name: "Turkey" },
          { id: 241, name: "Turkmenistan" },
          { id: 242, name: "Turks and Caicos Islands" },
          { id: 243, name: "Tuvalu" },
          { id: 244, name: "Uganda" },
          { id: 245, name: "Ukraine" },
          { id: 246, name: "United Arab Emirates" },
          { id: 247, name: "United States Minor Outlying Islands" },
          { id: 248, name: "Uruguay" },
          { id: 249, name: "Uzbekistan" },
          { id: 250, name: "Vanuatu" },
          { id: 251, name: "Venezuela" },
          { id: 252, name: "Viet Nam" },
          { id: 253, name: "Virgin Islands, British" },
          { id: 254, name: "Virgin Islands, U.S." },
          { id: 255, name: "Wallis and Futuna" },
          { id: 256, name: "Western Sahara" },
          { id: 257, name: "Yemen" },
          { id: 258, name: "Zambia" },
          { id: 259, name: "Zimbabwe" }
    ];


    //$scope.rowCollection = [
    //    { firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com' },
    //    { firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com' },
    //    { firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com' }
    //];
    

<div ng-controller="PersistController">

    <label>Vínculo:</label>
    <select ng-model="vinculoLista.id" name="cboVinculo" id="cboVinculo" class="form-control input-m-sm"
            ng-options="lista.value for lista in vinculo" ng-change="CheckVisible();">
        <option value="">Selecione...</option>
    </select>

    <hr />

    <div ng-show="mostraTabs">

        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#step1" data-toggle="tab" data-step="1">Dados Pessoais</a></li>
                    <li><a href="#step2" data-toggle="tab" data-step="2">Dados Funcionais</a></li>
                    <li><a href="#step3" data-toggle="tab" data-step="3">Formação Acadêmica</a></li>
                </ul>
            </div>
        </div>


        <div class="tab-content">
            <div class="tab-pane fade in active" id="step1">

                <div class="col-md-8">

                    <label class="required">Nome:</label>
                    <input id="" class="form-control input">

                    <label>Nome Social:</label>
                    <input id="" class="form-control input">

                    <div class="row">
                        <div class="col-md-4">
                            <label class="required">CPF:</label>
                            <input class="form-control input cpf">
                        </div>
                        <div class="col-md-4">
                            <label>Nº PIS/PASEP:</label>
                            <input id="" class="form-control input">
                        </div>
                        <div class="col-md-4">
                            <label>Matrícula SIAPE:</label>
                            <input id="" class="form-control input">
                        </div>
                    </div>

                    <label>Mãe:</label>
                    <input class="form-control input">

                    <label>Pai:</label>
                    <input class="form-control input">

                    <div class="row">
                        <div class="col-md-6">
                            <label>Estado Civil:</label>
                            <select name="cboEstadoCivil" id="cboEstadoCivil" class="form-control input">
                                <option value="">Selecione uma Opção</option>
                                <option value="1">Brasília</option>
                                <option value="2">Rio de Janeiro</option>
                                <option value="3">Belo Horizonte</option>
                                <option value="4">Rio Preto</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label>Cônjuge:</label>
                            <input id="" class="form-control input">
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <img data-src="holder.js/100%x100%" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                        <div>
                            <span class="btn btn-default btn-file">
                                <span class="fileinput-new">Selecionar imagem</span>
                                <span class="fileinput-exists"></span><input type="file" name="...">
                            </span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Data de Aniversário:</label>
                            <input type="text" name="periodo" value="12/05/2014" id="periodo" class="form-control form-datepicker date" data-date-format="dd/mm/yyyy" data-language="pt-BR" placeholder="" data-parsley-errors-container="#periodo-errors1" required>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Divulgar Aniversário
                                </label>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-3">
                            <label>Nacionalidade:</label>
                            <select class="form-control input">
                                <option value="1">Brasil</option>
                                <option value="2">Argentina</option>
                                <option value="3">Colômbia</option>
                            </select>
                        </div>

                        <div class="col-sm-5">
                            <label>Naturalidade:</label>
                            <input id="" class="form-control input">
                        </div>

                        <div class="col-sm-2">
                            <label>UF Nascimento:</label>
                            <select class="form-control input">
                                <option value="1">CE</option>
                                <option value="2">SP</option>
                                <option value="3">DF</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label class="required">Sexo:</label>
                            <select class="form-control input">
                                <option value="1">MASCULINO</option>
                                <option value="2">FEMININO</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-6">
                            <label>Endereço:</label>
                            <input id="" class="form-control input">
                        </div>

                        <div class="col-sm-6">
                            <label>Bairro:</label>
                            <input id="" class="form-control input">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <label>Cidade:</label>
                            <input class="form-control input">
                        </div>
                        <div class="col-md-2">
                            <label>UF:</label>
                            <select class="form-control input-m-sm">
                                <option value="1">CE</option>
                                <option value="2">SP</option>
                                <option value="3">DF</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>CEP:</label>
                            <input class="form-control input">
                        </div>
                    </div>
                </div>

                <hr />

                <div class="col-md-12">
                    <uib-accordion>
                        <uib-accordion-group heading="Características Físicas">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Tipagem ABO:</label>
                                    <select class="form-control input">
                                        <option value="">Selecione</option>
                                        <option value="1">A+</option>
                                        <option value="2">O-</option>
                                        <option value="3">AB+</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label>Fator RH:</label>
                                    <select class="form-control input">
                                        <option value="">Selecione</option>
                                        <option value="1">Fator 1</option>
                                        <option value="2">Fator 2</option>
                                        <option value="3">Fator 3</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label>Cor:</label>
                                    <select class="form-control input">
                                        <option value="">Selecione</option>
                                        <option value="1">Branco</option>
                                        <option value="2">Negro</option>
                                    </select>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="control-label-m-sm">Portador de Necessidade Especial (PNE)</label>
                                        <label class="switch">
                                            <input type="checkbox" name="lotacao[especial]" value="1">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Especifique:</label>
                                        <input class="form-control input">
                                    </div>
                                </div>
                            </div>

                        </uib-accordion-group>
                    </uib-accordion>

                    <uib-accordion>
                        <uib-accordion-group heading="Contatos">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Forma de Contato:</label>
                                    <select class="form-control input">
                                        <option value="">Telefone</option>
                                        <option value="1">Email</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label>Tipo de Contato:</label>
                                    <select class="form-control input">                                        
                                        <option value="1">Celular Particular</option>
                                        <option value="2">Telefone Fixo</option>                                        
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <label>DDD:</label>
                                    <input class="form-control input">
                                </div>
                                <div class="col-sm-3">
                                    <label>Telefone:</label>
                                    <input class="form-control input">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-8"> 
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label-m-sm">Disponibilização autorizada?</label>
                                        <label class="switch">
                                            <input type="checkbox" name="lotacao[especial]" value="1">
                                            <span></span>
                                        </label>                                       
                                    </div>
                                </div>
                            </div>

                        </uib-accordion-group>
                    </uib-accordion>

                    <uib-accordion>
                        <uib-accordion-group heading="Documentos">
                            This content is straight in the template.
                        </uib-accordion-group>
                    </uib-accordion>

                    <a class="btn btn-default btn next" href="" data-ng-click="goNext(1)">Próximo</a>
                </div>
            </div>

            <div class="tab-pane fade" id="step2">
                <div class="well">

                    <label>Security Question 2</label>
                    <select class="form-control input">
                        <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                        <option selected="" value="Where did you first attend school?">Where did you first attend school?</option>
                        <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                        <option value="What is your favorite car model?">What is your favorite car model?</option>
                    </select>
                    <br>
                    <label>Enter Response</label>
                    <input class="form-control input">

                </div>
                <a class="btn btn-default btn next" href="" data-ng-click="goNext(0)">Anterior</a>
                <a class="btn btn-default btn next" href="" data-ng-click="goNext(2)">Próximo</a>
            </div>
            <div class="tab-pane fade" id="step3">
                <div class="well"> <h2>Step 3</h2> Add another step here..</div>
                <a class="btn btn-default btn next" href="" data-ng-click="goNext(1)">Anterior</a>
            </div>

            <hr />

            <div id="push"></div>

        </div>
    </div>

    @section scripts {

        <script type="text/javascript">

            appAngular.controller('PersistController', ['$scope', '$http', function ($scope, $http) {

                $scope.mostraTabs = false;

                $scope.vinculo = [
                    { id: '1', value: 'Servidor' },
                    { id: '2', value: 'Terceirizado' },
                    { id: '3', value: 'Estagiário' }
                ];

                $scope.CheckVisible = function () {

                    //console.debug("$scope.vinculoLista.id", $scope.vinculoLista.id);

                    if ($scope.vinculoLista.id != null)
                        $scope.mostraTabs = true;
                    else
                        $scope.mostraTabs = false;
                };


                $scope.goNext = function (i) {
                    $('[href=#step' + (i + 1) + ']').tab('show');
                    return false;
                }


                $scope.oneAtATime = true;

                $scope.groups = [
                  {
                      title: 'Dynamic Group Header - 1',
                      content: 'Dynamic Group Body - 1'
                  },
                  {
                      title: 'Dynamic Group Header - 2',
                      content: 'Dynamic Group Body - 2'
                  }
                ];

                $scope.items = ['Item 1', 'Item 2', 'Item 3'];

                $scope.addItem = function () {
                    var newItemNo = $scope.items.length + 1;
                    $scope.items.push('Item ' + newItemNo);
                };

                $scope.status = {
                    isFirstOpen: true,
                    isFirstDisabled: false
                };
            }]);


            $(document).ready(function () {
                $('.continue').click(function () {
                    console.debug("clicou", "true");

                    $('.nav-tabs > .active').next('li').find('a').trigger('click');
                });

                $('.back').click(function () {
                    $('.nav-tabs > .active').prev('li').find('a').trigger('click');
                });
            });
        </script>
    }

